.movies-sidebar {
  width: 20vw;
  border-right: 2px dashed red;
  padding: 10px;
}

.movies-wrapper {
  display: flex;
  height: 93vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

.movies-container {
  width: 100%;
  overflow-x: hidden;
}

/* view more icon styles */
/* Note that you only needs to edit the config to customize the button! */

.Btnn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100px;
  height: 40px;
  border: none;
  padding: 0px 20px;
  margin-bottom: 10px;
  background-color: rgb(221, 19, 19);
  color: white;
  font-weight: 500;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 5px 5px 0px rgb(192, 7, 7);
  transition-duration: 0.3s;
}

.svgg {
  width: 13px;
  position: absolute;
  right: 0;
  margin-right: 20px;
  fill: white;
  transition-duration: 0.3s;
}

.Btnn:hover {
  color: transparent;
}

.Btnn:hover svg {
  right: 43%;
  margin: 0;
  padding: 0;
  border: none;
  transition-duration: 0.3s;
}

.Btnn:active {
  transform: translate(3px, 3px);
  transition-duration: 0.3s;
  box-shadow: 2px 2px 0px red;
}

/* -----------view more button of card while hovering-------------------- */
.btnViewMore {
  padding: 1.1em 2em;
  background: none;
  border: 2px solid #fff;
  font-size: 15px;
  color: #131313;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.3s;
  border-radius: 12px;
  background-color: #999;
  font-weight: bolder;
  box-shadow: 0 2px 0 2px #000;
}

.logo-image{
  filter: hue-rotate(140deg);
}

.btnViewMore:before {
  content: "";
  position: absolute;
  width: 100px;
  height: 120%;
  background-color: rgb(253, 240, 167);
  top: 50%;
  transform: skewX(30deg) translate(-150%, -50%);
  transition: all 0.5s;
}

.btnViewMore:hover {
  background-color: #222;
  color: #fff;
  box-shadow: 0 2px 0 2px #222;
}

.btnViewMore:hover::before {
  transform: skewX(30deg) translate(150%, -50%);
  transition-delay: 0.1s;
}

.btnViewMore:active {
  transform: scale(0.9);
}
/* ----------------------------------------media queries---------------------------------- */
@media (max-width: 760px) {
  .movies-wrapper {
    flex-direction: column;
  }

  .movies-sidebar {
    display: flex;
    overflow-x: scroll;
    width: 100% !important;
    height: 76px !important;
  }

  .logo-image {
    display: none !important;
  }

  .category-link.current {
    color: initial;
    border-color: initial;
    border: 1px;
    border-radius: 0;
    -webkit-text-decoration: none;
  }

  .movies-container {
    height: 800px !important;
  }

  .search-form:hover {
    width: 18rem;
  }

  .search-input {
    font-size: 14px !important;
  }

  .search-button {
    font-size: 14px !important;
  }
}

.roww{
  row-gap: 50px;
}

.section-1{
  margin-top: 50px;
}


.homie{
  overflow-x: hidden;
}